<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <h1> Hello my name is Mouhamadou Sene </h1>
    <h2> This is a website all about me!</h2>
    <h2> My email is msene@terpmail.umd.edu</h2>
    <p> I was born in <em>Dakar,Senegal</em> in 2002 and moved to the <em>United States</em> when I was 3 years old. Ever since I immigrated here I have always been amazed by the amount of different cultures and people there are! Growing up I enjoyed playing soccer and baskeball, to this day I watch ever sigle game
    no matter what as my favorite team is FC Barcelona!</p>
    <p> When I moved here I <strong>LOVED</strong> the cold weather and was so happy to learn about everything, and now I am at <strong>UMD</strong> for school!
    On my free time I enjoy watching Youtube, playing Fifa on my playstation, or even working out and listening to music.
    Everyday I enjoy smiling and making others happy.</p>
    <p id="special-one"> One day I hope to be able to go to the Fifa World Cup Final. It is my dream to watch two teams compete at the highest level at high stakes
    in order to bring glory to their country. That would be one of the best moments of my life!</p>
    <p class="big-orange">I love BMGT 407!!!</p>

    <p> My Favorite Soccer Players Are:</p>

    <!--- Creating my unordered list.-->
    <ul>
        <li>Lionel Messi</li>
        <li>Neymar Jr</li>
        <li>Cristiano Ronaldo</li>
        <li>Frankie De Jong</li>
    </ul>

    <!--- Creating my ordered list.-->
    <p>My Favorite Foods Are:</p>

    <ol>
        <li>Wings</li>
        <li>Pizza</li>
        <li>Chicken Alfredo</li>
        <li>Cereal</li>
    </ol>

    <!--- Creating my table of classes and when I took them.-->

    <table>
        <tr>
            <th>Course</th>
            <th>Semester Taken</th>

        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Spring 2023</td>

        </tr>
        <tr>
            <td>BMGT443</td>
            <td>Spring 2024</td>

        </tr>
        <tr>
            <td>ECON495</td>
            <td>Fall 2024</td>


        </tr>
    </table>

  <a href="/hello">hello</a>

    <p> A link to my favorite website <a href="https://instagram.com" >Instagram</a>.</p> <p>and <a href="https://www.youtube.com" target="_blank">Youtube</a>.</p>

<p>Here is a picture if the Smith logo.</p>

<img class="logo" src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="Smith Logo">
</body>
</html>
